<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="230"
    alt="Angular Logo"
    src="../assets/images/logo-Colsubsidio.png"
  />
</div>
<div class="content" role="main">
  <<app-home></app-home>
  <router-outlet></router-outlet>

<footer>
    <div class="container">
      <div class="contact">
        <h3>Contacto</h3>
        <span>Tel. 3162705530</span>
        <br>
        <span>Mail. carolinafh21@gmail.com</span>
      </div>
      <div class="follow">
        <h3>Sígueme</h3>
        <div class="items">
        &nbsp; 
        <a href="https://twitter.com/Carolinafh21"><i class="pi pi-twitter" style="font-size: 2rem;"></i></a>    
        &nbsp;   
        <a href="https://instagram.com/carolinafh21?igshid=N2ZiY2E3YmU="><i class="pi pi-instagram" style="font-size: 2rem;"></i></a>  
        &nbsp;     
        <a href="https://www.facebook.com/carolina.fonseca.31337194/"><i class="pi pi-facebook" style="font-size: 2rem;"></i></a>    
        &nbsp;     
        <a href="https://www.linkedin.com/in/carolina-fonseca-b27857188"><i class="pi pi-linkedin" style="font-size: 2rem"></i></a>   
        </div> 
      </div>
      <br>
      <div class="foot">
      <span>Todos los derechos reservados © </span>
      </div>
    </div>
  </footer>

</div>

